/* Styles for the station board widget */

.station_board {
    height: 100%;
    padding: 0.5em;
    width: 100%;
}

.station_board .content_area {
    border-bottom: 40px solid transparent;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.station_board .credit {
    bottom: 0.5em;
    height: 30px;
    left: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: absolute;
    width: 100%;
}

.station_board .credit img {
    height: 30px;
}

.station_board h1, .station_board h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.station_board h1 img {
    height: 0.8em; 
}

.station_board .message {
    background-color: #fdd;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding: 0.5em;
}

.station_board .message p {
    margin: 0;
}

.station_board table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    overflow: hidden;
}

.station_board th, .station_board td {
    border-bottom: 1px solid #ddd;
    padding: 0.3em 0.2em;
    text-align: left;
    vertical-align: top;
}

.station_board th.time, .station_board td.time {
    text-align: center;
}

.station_board .issue {
    background-color: #fdd;
}

.station_board .widget_error {
    background: red;
    color: white;
    display: none;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}