/* StopTimetable Lobby Screen widget CSS */

/* Styles for the station board widget */

.stop_timetable {
    height: 100%;
    padding: 0.5em;
    width: 100%;
}

.stop_timetable .content_area {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.stop_timetable h1, .stop_timetable h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.stop_timetable table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    overflow: hidden;
}

.stop_timetable th, .stop_timetable td {
    padding: 0.3em 0.4em;
}

.stop_timetable .issue {
    background-color: #fdd;
}

.stop_timetable .seen {
    background-color: #dfd;
}

.stop_timetable th, .stop_timetable td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}

.stop_timetable th.time, .stop_timetable td.time {
    text-align: center;
}

.stop_timetable .widget_error {
    background: red;
    color: white;
    display: none;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}


.stop_timetable_connection_div { /* connection error div */
    background-color: red;
    color: white;
    display: none;
    font-size: 25;
    font-weight: bold;
    height: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
}

.stop_timetable_realtime {
    background-color: #88cc88;
}

