/* Styles for the station board widget */

.message_area {
    height: 100%;
    padding: 0.5em;
    width: 100%;
}

.message_area h1, .message_area h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.message_area h1 img {
    height: 0.8em; 
}