.stop_bus_map_title_div {
    position: relative;
    height: 10%;
    font-size: 25px;
    font-weight: bold;
}

.stop_bus_map_title_text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    text-align: center;
    color: black;
}

.stop_bus_map_div {
    width: 100%;
    height: 90%;
}

.stop_bus_map_connection_div { /* connection error div */
    position: absolute;
    top: 10px;
    left: 0px;
    height: 30px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: red;
    text-align: center;
    display: none;
}

.sensor-popup {
    font-size: small;
}

.marker_sensor_M {
    background-image: url("/lobby_screen/static/stop_bus_map/images/bus_logo_M.png");
    /* background-color: green; */
}

.marker_sensor_L {
    background-image: url("/lobby_screen/static/stop_bus_map/images/bus_logo_L.png");
    /* background-color: green; */
}

.marker_label_M {
    /* background-color: white; */
    /* margin-left: 8px; */
    margin-top: 7px;
    font-size: 7px;
    text-align: center;
}

.marker_label_L {
    /* background-color: white; */
    /* margin-left: 8px; */
    margin-top: 8px;
    font-size: 11px;
    text-align: center;
}

.marker_stop_L {
    background-image: url("/lobby_screen/static/stop_bus_map/images/bus_stop_L.png");
    background-size: 15px 40px;
    background-repeat: no-repeat;
    /* background-color: green; */
}

.marker_stop_label_L {
    /* background-color: white; */
    /* margin-left: 8px; */
    margin-top: 8px;
    margin-left: 10px;
    font-size: 11px;
    text-align: left;
}


