/* raffic_map Lobby Screen widget CSS */

.traffic_map {
    height: 100%;
    width: 100%;
}

.traffic_map .map {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    /* visibility: hidden; */
}
