/* Temporary CSS for a lashed-up demo of an ACP 'Lobby Screen */

/* This is intended to render on a 1920 x 1080 ONLY. It implements
   a 6 (column) by 4 (row) grid for widgets, with a 60px row at the 
   bottom for credits, status display, etc. 

   Row heights are ((1080-60)/4) = 255px. Column widths are 1920/6 = 320px
*/

/* Force box-sizing: border-box everywhere. Note that this may break
   some 3rd-party styling in which case it may need to be forced back to
   content-box there */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

/* https://getbootstrap.com/docs/4.0/content/reboot/#native-font-stack */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* For debugging, create a 1920 x 1080 *inside* a 1px border */
.wrapper {
    width: 1922px;
    height: 1082px;
    overflow: hidden;
    border: 1px solid red;
    position: absolute;
    left: 0px;
    top: 0px;
}

/* Basic container boxes for 1x1, 1x2, 2x1 amd 2x2 display areas. */
.container_1_1 {
    height: 255px;
    width: 320px;
    border: 1px solid black;
    overflow: hidden;
}

.container_1_2 {
    height: 510px;
    width: 320px;
    border: 1px solid black;
    overflow: hidden;
}

.container_2_1 {
    height: 255px;
    width: 640px;
    border: 1px solid black;
    overflow: hidden;
}

.container_2_2 {
    height: 510px;
    width: 640px;
    border: 1px solid black;
    overflow: hidden;
}

.container_1_4 {
    height: 1020px;
    width: 320px;
    border: 1px solid black;
    overflow: hidden;
}

.container_2_4 {
    height: 1020px;
    width: 640px;
    border: 1px solid black;
    overflow: hidden;
}


/* Column positions */
.col_1 {
    position: absolute;
    left: 0px;
}

.col_2 {
    position: absolute;
    left: 320px;
}

.col_3 {
    position: absolute;
    left: 640px;
}

.col_4 {
    position: absolute;
    left: 960px;
}

.col_5 {
    position: absolute;
    left: 1280px;
}

.col_6 {
    position: absolute;
    left: 1600px;
}

/* Row positions */
.row_1 {
    position: absolute;
    top: 0px;
}

.row_2 {
    position: absolute;
    top: 255px;
}

.row_3 {
    position: absolute;
    top: 510px;
}

.row_4 {
    position: absolute;
    top: 765px;
}

.credits {
    position: absolute;
    left: 0px;
    top: 1020px;
    height: 60px;
    width: 1920px;
    overflow: hidden;
    border: 1px solid green;
}

.credits img {
    height:50px;
    margin:5px;
}

.credits span {
    font-weight: bold;
    font-size: 20pt;
    padding-bottom: 20px;
}

.spinner {
    display: block;
    height: 24px;
    width: 24px;
    margin: auto;
    margin-top: 115px;
}
