/* Temporary CSS for a lashed-up demo of an ACP 'Lobby Screen */

/* This is intended to render on a 1920 x 1080 ONLY. It implements
   a 6 (column) by 4 (row) grid for widgets, with a 60px row at the 
   bottom for credits, status display, etc. 

   Row heights are ((1080-60)/4) = 255px. Column widths are 1920/6 = 320px
*/


/* =================================================================== */
/* General styling for use by widgets

/* Force box-sizing: border-box everywhere. Note that this may break
   some 3rd-party styling in which case it may need to be forced back to
   content-box there */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

/* https://getbootstrap.com/docs/4.0/content/reboot/#native-font-stack */
body {
  font-family: Arial, sans-serif;
}

/* Generic styles for Lobby Screen widgets */

/* General styling */

h1, h2 {
    margin-bottom: 0;
    margin-top: 0;
}

h1 img {
    height: 0.8em;
}

/* Translucent box to left for labelling maps */
h1.translucent {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    top: 0;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    overflow: hidden;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 0.2rem;
    text-align: left;
    vertical-align: top;
}

td {
    padding: 0.2rem 0.2rem 0.736px 0.2rem;
}

/* Custom class for 'important' columns */
/* The relatice offset is a hack to get the content to */
/* appear to align correctlt with it's smaller-sized   */
/* neibours. Set by eye */
th.key, td.key {
    font-size: 1.4rem;
    font-weight: normal;
    position: relative;
    top: -0.11em;
}

/* Dedicated classes */

/* .timestamp for 'Last updated hh:mm', etc. */

.timestamp {
    font-size: 1.2em;
    font-weight: bold;
}

/* .message for 'message of the day' boxes, etc */

.message {
    background-color: #fdd;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding: 0.5em;
}

.message p {
    margin: 0;
}

/* .time for table cellls containing HH:MM times */

th.time, td.time {
    text-align: center;
}

/* .issue for hilighting things with issues, like late trains */

.issue {
    background-color: #fdd;
}

/* .widget_error for 'connection problems' banner */

.widget_error {
    background: red;
    color: white;
    display: none;
    font-size: 2em;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

/* ================================================================== */
/* Proto-framework styling

/* For debugging, create a 1920 x 1080 *inside* a 1px border */
.wrapper {
    /* border: 1px solid red; */
    height: 1080px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1920px;
}

.credits {
    height: 60px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top:  0;
    width: 1920px;
    /*border: 1px solid green; */
}

.credits img {
    height:50px;
    margin:5px;
    padding: 0 0.5em;
}

.credits span {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    right: 0.5em;
}

#screen_clock {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    height: 50px;
    margin-left: 20px;
    vertical-align: top;
    width: 200px;
}

/* Basic container boxes for 1x1, 1x2, 2x1 amd 2x2 display areas. */
.container_1_1 {
    border: 1px solid black;
    height: 255px;
    overflow: hidden;
    width: 320px;
}

.container_1_2 {
    border: 1px solid black;
    height: 510px;
    overflow: hidden;
    width: 320px;
}

.container_2_1 {
    border: 1px solid black;
    height: 255px;
    overflow: hidden;
    width: 640px;
}

.container_2_2 {
    border: 1px solid black;
    height: 510px;
    overflow: hidden;
    width: 640px;
}

.container_1_4 {
    border: 1px solid black;
    height: 1020px;
    overflow: hidden;
    width: 320px;
}

.container_2_4 {
    border: 1px solid black;
    height: 1020px;
    overflow: hidden;
    width: 640px;
}


/* Column positions */
.col_1 {
    left: 0;
    position: absolute;
}

.col_2 {
    left: 320px;
    position: absolute;
}

.col_3 {
    left: 640px;
    position: absolute;
}

.col_4 {
    left: 960px;
    position: absolute;
}

.col_5 {
    left: 1280px;
    position: absolute;
}

.col_6 {
    left: 1600px;
    position: absolute;
}

/* Row positions */
.row_1 {
    position: absolute;
    top: 60px;
}

.row_2 {
    position: absolute;
    top: 315px;
}

.row_3 {
    position: absolute;
    top: 570px;
}

.row_4 {
    position: absolute;
    top: 825px;
}

.spinner {
    display: block;
    height: 24px;
    margin: auto;
    margin-top: 115px;
    width: 24px;
}

/* ================================================================== */