.container {
    height: 540px;
    width: 640px;
}

.departure_board {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    padding: 1em;
    overflow: hidden;
}

.departure_board h1, .departure_board h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.departure_board .message {
    background-color: #fdd;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.departure_board table {
    width: 100%;
}

.departure_board th, .departure_board td {
    padding: 0.1em;
}

.departure_board tr td:first-child { text-align: center; }
.departure_board tr td:first-child + td + td { text-align: center; }
.departure_board tr td:first-child + td + td + td { text-align: center; }