<!doctype html>

<html>

  <head>
    <title>Lobby Panel</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEkMI-ZAAt1kjv668jfBXhNB1-odv5m3g">
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='lobby_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='station_board/station_board.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='message_area/message_area.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='iframe_area/iframe_area.css') }}">

    <script src="{{ url_for('static', filename='station_board/station_board.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='traffic_map/traffic_map.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='message_area/message_area.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='iframe_area/iframe_area.js') }}" type="text/javascript"></script>

    <script type="text/javascript">

      var widgit = [];

      widgit.push(new StationBoard('station_board_1',{station: 'CBG', offset: 0}));
      widgit.push(new StationBoard('station_board_2',{station: 'CBG', offset: 30}));
      widgit.push(new StationBoard('station_board_3',{station: 'CMB', offset: 0}));
      widgit.push(new StationBoard('station_board_4',{station: 'PAD', offset: 0}));

      widgit.push(new TrafficMap('traffic_map_1', {lat: 52.204684, lng: 0.124622, zoom: 10}));
      widgit.push(new TrafficMap('traffic_map_2', {lat: 52.204684, lng: 0.124622, zoom: 12}));

      widgit.push(new MessageArea('message_area_1',{message:
        '<h1>Message area</h1>' +
        '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ' +
        'tempor incididunt ut labore et dolore magna aliqua. </p>' +
        '<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ' +
        'ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ' +
        'esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ' +
        'proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>' +
        '<ul><li>Pugh</li><li>Pugh</li><li>Barney McGrew</li><li>Cuthbert</li><li>Dibble</li><li>Grub</li></ul>'
      }))

      widgit.push(new IframeArea('iframe_area_1',{url: 'http://people.ds.cam.ac.uk/jw35/'}));

      function reload_widgits () {
        for (var i = 0; i < widgit.length; i++) {
          if ('reload' in widgit[i]) {
            console.log("Reloading ", widgit[i].container);
            widgit[i].reload();
          }
          else {
            console.log("Not reloading ", widgit[i].container);
          }
        }
      }

      function page_load() {
        for (var i = 0; i < widgit.length; i++) {
          if ('init' in widgit[i]) {
            console.log("Initing ", widgit[i].container);
            widgit[i].init();
          }
          else {
            console.log("Not initing ", widgit[i].container);
          }
        }
        setInterval(function() {
          console.log("Running page-level reloader");
          reload_widgits();
        }, 60000)
      }

    </script>

  </head>

  <body onLoad="page_load()">

    <div class="wrapper">
      <div class="container_1_2 col_1 row_1" id="station_board_1"></div>
      <div class="container_1_2 col_2 row_1" id="station_board_2"></div>
      <div class="container_1_2 col_1 row_3" id="station_board_3"></div>
      <div class="container_1_2 col_2 row_3" id="station_board_4"></div>

      <div class="container_2_2 col_3 row_1" id="traffic_map_1"></div>
      <div class="container_2_2 col_3 row_3" id="traffic_map_2"></div>

      <div class="container_1_2 col_5 row_1" id="message_area_1"></div>

      <div class="container_2_2 col_5 row_3" id="iframe_area_1"></div>

      <div class="credits">
        <a href="https://www.greatercambridge.org.uk/"><img alt="Greater Cambridge Partnership" src="{{ url_for('static', filename='logo_gccd_112.png') }}"></a>
        <a href="http://www.connectingcambridgeshire.co.uk/smartcamb/"><img alt="Connecting Cambridgshire" src="{{ url_for('static', filename='logo_sc_112.png') }}" ></a>
        <a href="http://www.cam.ac.uk"><img alt="The University of Cambridge" src="{{ url_for('static', filename='logo_uc_112.png') }}"></a>
        <span>Adaptive Cities Platform</span>
      </div>

    </div>

  </body>

</html>