<!doctype html>

<html>

  <head>
    <title>ACP Lobby Screen</title>

    {% include 'lobby_screen_head.html' %}

    <!-- Widget stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lobby_screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='station_board/station_board.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='message_area/message_area.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='iframe_area/iframe_area.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stop_bus_map/stop_bus_map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stop_timetable/stop_timetable.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='weather/weather.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='traffic_map/traffic_map.css') }}">

    <!-- Widget Javascript -->
    <script src="{{ url_for('static', filename='station_board/station_board.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='traffic_map/traffic_map.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='message_area/message_area.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='iframe_area/iframe_area.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='stop_bus_map/stop_bus_map.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='stop_timetable/stop_timetable.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='weather/weather.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='twitter_timeline/twitter_timeline.js') }}" type="text/javascript"></script>

    <script type="text/javascript">

      var DEBUG = ''; // widget.log() code will check this global variable


      widget.push(new StationBoard(
        { container: 'station_board_1',
          static_url: '{{ url_for('static', filename='station_+board/') }}'
        },
        { station: 'WLF',
          offset: 0
        }
      ));

      widget.push(new Weather(
        { container: 'weather_area_1',
          static_url: '{{ url_for('static', filename='weather/') }}'
        },
        { location: '310042'
        }
      ))

      widget.push(new StopTimetable(
        { container: 'stop_timetable_1',
          static_url: '{{ url_for('static', filename='stop_timetable/') }}'
        },
        { stop_id: '0500SSAWS009',
          common_name: 'Sunderlands Avenue',
          layout: 'multiline',
          destinations: [
            { description: 'Hazel\'s House',
              area: [
                {  "lat": 52.10978669278377, "lng": 0.13943262398242953 },
                {  "lat": 52.1098789403549, "lng": 0.14069862663745883 },
                {  "lat": 52.108626992751574, "lng": 0.14104194939136508 },
                {  "lat": 52.108587456991536, "lng": 0.13977594673633578 }
              ]
            },
          ]
        }
      ));

      widget.push(new StopTimetable(
        { container: 'stop_timetable_2',
          static_url: '{{ url_for('static', filename='stop_timetable/') }}'
        },
        { stop_id: '0500SSAWS016',
          common_name: 'Churchfield Avenue',
          layout: 'multiline',
          lat: 52.21129,
          lng: 0.09107,
          destinations: [
            { description: 'Hospital',
              area: [
                {  "lat": 52.176747687499386, "lng": 0.14107950031757358 },
                {  "lat": 52.17706348889764,  "lng": 0.14607913792133334 },
                {  "lat": 52.175431824205745, "lng": 0.14610059559345248 },
                {  "lat": 52.174944944921215, "lng": 0.14170177280902865 }
              ]
            },
            { description: 'Station',
              area: [
                {  "lat": 52.19247891040565, "lng": 0.13503756519639865 },
                {  "lat": 52.194017876507935, "lng": 0.1361104488023557 },
                {  "lat": 52.19366273521314, "lng": 0.13724770542467016 },
                {  "lat": 52.19215006458652, "lng": 0.13630356785142794 }
              ]
            },
            { description: 'City Centre',
              area: [
                {  "lat": 52.207862294900934, "lng": 0.11361030105035753 },
                {  "lat": 52.21047891499041, "lng": 0.11815932753961535 },
                {  "lat": 52.204127756109976, "lng": 0.12644198897760364 },
                {  "lat": 52.20078744495295, "lng": 0.11854556563775988 }
              ]
            },
          ]
        }
      ));

      widget.push(new StopBusMap(
        { container: 'stop_bus_map_1',
          static_url: '{{ url_for('static', filename='stop_bus_map/') }}'
        },
        { id: 'stop_bus_map_1',
          static_url: '/lobby_screen/static',
          title: 'Live Buses',
          stops: [
            { stop_id: '0500SSAWS009',
              common_name: 'Sunderlands Avenue',
              lat: 52.1269569,
              lng: 0.174699,
            },
            { stop_id: '0500CCITY199',
              common_name: 'Churchfield Avenue',
              lat:  52.1263231,
              lng:  0.1720094
            }
          ],
          breadcrumbs: true,
          lat: 52.127692,
          lng: 0.175781,
          zoom: 12
        }
      ));

      widget.push(new TrafficMap(
        { container: 'traffic_map_1',
          static_url: '{{ url_for('static', filename='traffic_map/') }}'
        },
        { interval: 7.5,
          maps:
          [
            { lat: 52.127692,
              lng: 0.175781,
              zoom: 13
            },
          ]
        }
      ));

      widget.push(new TrafficMap(
        { container: 'traffic_map_2',
          static_url: '{{ url_for('static', filename='traffic_map/') }}'
        },
        { interval: 7.5,
          maps:
          [
            { lat: 52.204684,
              lng: 0.124622,
              zoom: 10
            }
          ]
        }
      ));

      widget.push(new TwitterTimeline(
        { container: 'twitter_timeline_1',
          static_url: '{{ url_for('static', filename='twitter_timeline/') }}'
        },
        { who: 'Cambs_Traffic'
        }
      ));

    </script>

  </head>

  <body onLoad="page_load()">

    <!-- Widget display area definition -->

      {% include 'smartpanel_header.html' %}

      <div class="container_1_2 col_1 row_1" id="station_board_1">
        <img class="spinner" src="{{ url_for('static', filename='indicator-lite.gif') }}" alt=""/>
      </div>

      <div class="container_1_2 col_1 row_3" id="weather_area_1">
        <img class="spinner" src="{{ url_for('static', filename='indicator-lite.gif') }}" alt=""/>
      </div>

      <div class="container_1_2 col_2 row_1" id="stop_timetable_1">
        <img class="spinner" src="{{ url_for('static', filename='indicator-lite.gif') }}" alt=""/>
      </div>

      <div class="container_1_2 col_3 row_1" id="stop_timetable_2">
        <img class="spinner" src="{{ url_for('static', filename='indicator-lite.gif') }}" alt=""/>
      </div>

      <div class="container_2_2 col_2 row_3" id="stop_bus_map_1">
        <img class="spinner" src="{{ url_for('static', filename='indicator-lite.gif') }}" alt=""/>
      </div>

      <div class="container_2_2 col_4 row_1" id="traffic_map_1">
        <img class="spinner" src="{{ url_for('static', filename='indicator-lite.gif') }}" alt=""/>
      </div>

      <div class="container_2_2 col_4 row_3" id="traffic_map_2">
        <img class="spinner" src="{{ url_for('static', filename='indicator-lite.gif') }}" alt=""/>
      </div>

      <div class="container_1_4 col_6 row_1" id="twitter_timeline_1">
        <img class="spinner" src="{{ url_for('static', filename='indicator-lite.gif') }}" alt=""/>
      </div>

    </div>

  </body>

</html>
