
<!-- The 'header bar' that runs along the top of the SmartPanel, including clock, logos etc. -->

      <div class="credits">
        <div id="screen_clock"></div>

        <a href="http://www.connectingcambridgeshire.co.uk/smartcamb/">
            <img alt="Connecting Cambridgshire" src="{{ url_for('static', filename='logo_sc_112.png') }}" >
        </a>
        <a href="http://www.cam.ac.uk">
            <img alt="The University of Cambridge" src="{{ url_for('static', filename='logo_uc_112.png') }}">
        </a>
        <a href="https://www.greatercambridge.org.uk/">
            <img alt="Greater Cambridge Partnership" src="{{ url_for('static', filename='logo_gcp_112.png') }}">
        </a>
        <span>SmartPanel</span>
      </div>

