<!doctype html>
<title>Station Board</title>
<link rel="stylesheet" href="{{ url_for('static', filename='lobby_screen.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='station_board/station_board.css') }}">
<body>

<div class="container_1_2">

<div class="station_board">

<div class="content_area">

<h1 class="widget_error">Connection issues</h1>

<h1><img src="{{ url_for('static', filename='station_board/train.png') }}"> {{ data.locationName }}</h1>
<div class="timestamp">Updated {{ data.generatedAt }}</div>

{% for message in data.messages %}
    <div class="message">{{ message }}</div>
{% endfor %}

<table>
  <tr>
    <th class="time">Due</th>
    <th class="time">Expected</th>
    <th>Destination</th>
  </tr>
{% for service in data.services %}
  {% if service.etd != 'On time' %}
  <tr class="issue">
  {% else %}
  <tr>
  {% endif %}
    <td class="time key">{{ service.std }}</td>
    <td class="time">{{ service.etd }}</td>
    <td>{{ service.destination }}</td>
  </tr>
{% endfor %}
</table>

</div>

<div class="credit">
    <a href="http://www.nationalrail.co.uk/"><img alt="Powered by National Rail Enquires" 
      src="{{url_for('static', filename='station_board/NRE_Powered_logo.png') }}"></a>
</div>

</div>

</div>

</body>

