<!doctype html>
<title>Weather</title>
<link rel="stylesheet" href="{{ url_for('static', filename='lobby_screen.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='weather/weather.css') }}">
<body>

<div class="container_1_2">

<div class="weather">

<div class="content_area">

<h1 class="widget_error">Connection issues</h1>

<h1>{{ data.location.title() }}</h1>
<h2>Issued {{ data.issued.astimezone(tz=None).strftime("%H:%M") }}</h2>
{% for result in data.results %}

{% set timestamp = result.0 %}
{% set data = result.1 %}

{% if loop.index0 == 0 %}
<h2 class="time">Now:</h2>
{% else %}
<h2 class="time">{{ timestamp.astimezone(tz=None).strftime('%H:%M') }}:</h2>
{% endif %}
{% if data.icon %}
<img src="{{ url_for('static', filename='weather/icons/weather_icon-' + data.icon + '.png') }}" alt="" />
{% endif %}

<p>

<b>{{ data.description }}</b>

<br>

<b>{{ data.T }}&deg;C</b>
{% if data.T != data.F %}
(feels like {{ data.F }}&deg;C)
{% endif %}

<br>

Wind <b>{{ data.wind_desc }}</b> ({{ data.S }} mph) <b>{{ data.D }}</b>

</p>

{% endfor %}

</div>

</div>

</div>

</body>

