/* Styles for the weather widget */

.weather {
    height: 100%;
    padding: 0.5em;
    position: relative;
    width: 100%;
}

.weather .content_area {
    position: relative;
}

.weather .content_area {
    border-bottom: 40px solid transparent;
    height: 100%;
    overflow: hidden;
}

.weather .credit {
    bottom: 0.5em;
    height: 30px;
    left: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: absolute;
    width: 100%;
}

.weather .credit img {
    height: 30px;
}

.weather h2.time {
    margin-bottom: 0;
    margin-top: 0.5em;
}

.weather .icon {
    float: right;
    height: 96px;
    width: 96px;
}

.weather p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

